a {
  text-decoration: none;
  color: black;
}
.title {
  height: 65px;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.item span {
  margin-left: 15px;
  position: relative;
  top: -5px;
}
.example-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.example-card {
  width: 300px;
  height: 300px;
  margin: 25px 15px;
}
.card-container {
  margin: 25px 15px;
}
.card {
  display: inline-block;
}


